body{
    background-color:black;
}
header{
    width: 100%;
    overflow: auto;
}
.wrapper{
    width: 110000%;
    max-width: 1000px;
    margin: left;
    overflow: hidden;
}

header nav {
    float: right;
    line-height: 200px;
    font-size:20px;
}
header nav a {
    display: inline-block;
    color: white;
    text-decoration:none;
    padding:10px 10px;
    line-height:normal;
    font-size:25px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    line-height: 150px;
    float: left;
    color: rgb(196, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: white;
}